<div style="text-align: center;">
    <h1>Users</h1>
    <div style="border: 1px solid gray; width: 50%; height: 400px; position: relative; left: 50%; transform: translate(-50%, 0%); overflow: auto;">
        <div *ngFor="let user of users | keyvalue" style="font-size: 50px;">
            {{ user.key }}
            <div>
                <span *ngFor="let image of user.value" style="margin-left: 5px; margin-right: 5px; cursor: pointer;">
                    <img [src]="transform(image[1])" (click)="open(image)" style="width: 50px; height: 50px;" />
                </span>
            </div>
        </div>
    </div>
</div>
<image-modal [image]="image"></image-modal>
